/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */

html {
  color-scheme: dark light;
}

/* min body height */

body {
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Utopia Variables */
:root {
  --step--2: clamp(0.56rem, calc(0.72rem + -0.13vw), 0.69rem);
  --step--1: clamp(0.8rem, calc(0.84rem + -0.04vw), 0.83rem);
  --step-0: clamp(1rem, calc(0.98rem + 0.13vw), 1.13rem);
  --step-1: clamp(1.2rem, calc(1.12rem + 0.39vw), 1.59rem);
  --step-2: clamp(1.44rem, calc(1.28rem + 0.81vw), 2.25rem);
  --step-3: clamp(1.73rem, calc(1.44rem + 1.45vw), 3.18rem);
  --step-4: clamp(2.07rem, calc(1.59rem + 2.42vw), 4.5rem);
  --step-5: clamp(2.49rem, calc(1.71rem + 3.87vw), 6.36rem);

  --space-3xs: clamp(0.25rem, calc(0.24rem + 0.06vw), 0.31rem);
  --space-2xs: clamp(0.5rem, calc(0.49rem + 0.06vw), 0.56rem);
  --space-xs: clamp(0.75rem, calc(0.73rem + 0.13vw), 0.88rem);
  --space-s: clamp(1rem, calc(0.98rem + 0.13vw), 1.13rem);
  --space-m: clamp(1.5rem, calc(1.46rem + 0.19vw), 1.69rem);
  --space-l: clamp(2rem, calc(1.95rem + 0.25vw), 2.25rem);
  --space-xl: clamp(3rem, calc(2.93rem + 0.38vw), 3.38rem);
  --space-2xl: clamp(4rem, calc(3.9rem + 0.5vw), 4.5rem);
  --space-3xl: clamp(6rem, calc(5.85rem + 0.75vw), 6.75rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, calc(0.19rem + 0.31vw), 0.56rem);
  --space-2xs-xs: clamp(0.5rem, calc(0.43rem + 0.38vw), 0.88rem);
  --space-xs-s: clamp(0.75rem, calc(0.68rem + 0.38vw), 1.13rem);
  --space-s-m: clamp(1rem, calc(0.86rem + 0.69vw), 1.69rem);
  --space-m-l: clamp(1.5rem, calc(1.35rem + 0.75vw), 2.25rem);
  --space-l-xl: clamp(2rem, calc(1.73rem + 1.38vw), 3.38rem);
  --space-xl-2xl: clamp(3rem, calc(2.7rem + 1.5vw), 4.5rem);
  --space-2xl-3xl: clamp(4rem, calc(3.45rem + 2.75vw), 6.75rem);

  --grid-max-width: 69.75rem;
  --grid-gutter: var(--space-s-l, clamp(1rem, calc(0.5rem + 2.51vw), 2.25rem));
  --grid-columns: 12;

  --flow-space: var(--space-m);
}

/* Utility for dark theme */
.theme-dark {
  --bg-darkest: hsl(220, 5%, 13%);
  --bg-darker: hsl(220, 4%, 14%);
  --bg-dark: hsl(210, 2%, 19%);
  --fg-lighter: hsl(240, 33%, 99%);
  --fg-light: hsl(300, 2%, 77%);
}

.u-grid {
  display: grid;
}

.u-container {
  max-width: var(--grid-max-width);
}

/* Blocks */
#profile,
#intro,
#experience,
#projects {
  padding: var(--space-l); /* Employ Utopia's spacing */
  font-size: var(--step-1); /* Using Utopia's fluid type scale */
}

.theme-dark #profile {
  padding: var(--space-xl); /* A larger space to make this section stand out */
}

/* @media (max-width: 768px) {
  .u-grid {
    grid-template-areas:
      "profile"
      "intro"
      "experience"
      "projects";
  }
} */

body {
  font-family: Arial, sans-serif;
  font-size: var(--step-0);
  color: var(--fg-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--fg-lighter);
}

h1 {
  font-size: var(--step-5);
}

h2 {
  font-size: var(--step-4);
}

h3 {
  font-size: var(--step-3);
}

h4 {
  font-size: var(--step-2);
}

h5 {
  font-size: var(--step-1);
}

main > *:nth-child(2),
main > *:nth-child(3) {
  background: var(--bg-darker);
}
main > *:nth-child(4) {
  background: var(--bg-dark);
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}
