/* Component CSS (C) */

:root {
  --step--2: clamp(0.56rem, calc(0.72rem + -0.13vw), 0.69rem);
  --step--1: clamp(0.8rem, calc(0.84rem + -0.04vw), 0.83rem);
  --step-0: clamp(1rem, calc(0.98rem + 0.13vw), 1.13rem);
  --step-1: clamp(1.2rem, calc(1.12rem + 0.39vw), 1.59rem);
  --step-2: clamp(1.44rem, calc(1.28rem + 0.81vw), 2.25rem);
  --step-3: clamp(1.73rem, calc(1.44rem + 1.45vw), 3.18rem);
  --step-4: clamp(2.07rem, calc(1.59rem + 2.42vw), 4.5rem);
  --step-5: clamp(2.49rem, calc(1.71rem + 3.87vw), 6.36rem);

  --space-3xs: clamp(0.25rem, calc(0.24rem + 0.06vw), 0.31rem);
  --space-2xs: clamp(0.5rem, calc(0.49rem + 0.06vw), 0.56rem);
  --space-xs: clamp(0.75rem, calc(0.73rem + 0.13vw), 0.88rem);
  --space-s: clamp(1rem, calc(0.98rem + 0.13vw), 1.13rem);
  --space-m: clamp(1.5rem, calc(1.46rem + 0.19vw), 1.69rem);
  --space-l: clamp(2rem, calc(1.95rem + 0.25vw), 2.25rem);
  --space-xl: clamp(3rem, calc(2.93rem + 0.38vw), 3.38rem);
  --space-2xl: clamp(4rem, calc(3.9rem + 0.5vw), 4.5rem);
  --space-3xl: clamp(6rem, calc(5.85rem + 0.75vw), 6.75rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, calc(0.19rem + 0.31vw), 0.56rem);
  --space-2xs-xs: clamp(0.5rem, calc(0.43rem + 0.38vw), 0.88rem);
  --space-xs-s: clamp(0.75rem, calc(0.68rem + 0.38vw), 1.13rem);
  --space-s-m: clamp(1rem, calc(0.86rem + 0.69vw), 1.69rem);
  --space-m-l: clamp(1.5rem, calc(1.35rem + 0.75vw), 2.25rem);
  --space-l-xl: clamp(2rem, calc(1.73rem + 1.38vw), 3.38rem);
  --space-xl-2xl: clamp(3rem, calc(2.7rem + 1.5vw), 4.5rem);
  --space-2xl-3xl: clamp(4rem, calc(3.45rem + 2.75vw), 6.75rem);

  --grid-max-width: 69.75rem;
  --grid-gutter: var(--space-s-l, clamp(1rem, calc(0.5rem + 2.51vw), 2.25rem));
  --grid-columns: 12;

  --flow-space: var(--space-l);

  --clr-lightest: hsl(0, 0%, 97%);
  --clr-lighter: hsl(0, 0%, 87%);
  --clr-light: hsl(0, 0%, 77%);
  --clr-dark: hsl(0, 0%, 47%);
  --clr-darker: hsl(0, 0%, 37%);
  --clr-darkest: hsl(0, 0%, 7%);
  --clr-accent: hsl(205, 89%, 49%);
}

/* Utility for dark theme */
.theme-dark {
}

/* Utility CSS (U) */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  color-scheme: light;
}

body {
  min-height: 100vh;
  font-family: Helvetica, sans-serif;
  background: var(--clr-lightest);
  color: var(--clr-darkest);
}

p {
  margin-block-end: var(--space-m);
  line-height: var(--space-l);
}

/* Exception CSS (E) */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--clr-darkest);
}

h1 {
  font-size: var(--step-5);
}

h2 {
  font-size: var(--step-4);
}

h3 {
  font-size: var(--step-3);
}

h4 {
  font-size: var(--step-2);
}

h5 {
  font-size: var(--step-1);
}

strong {
  font-weight: 700;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

main > * {
  margin-block-start: var(--space-l);
}

/* Remove list styles on ul, ol elements */
ul,
ol {
  list-style: none;
  line-height: var(--space-l);
}

/* WRAPPER */

.wrapper {
  display: grid;
  grid-gap: var(--grid-gutter);
  max-width: var(--grid-max-width);
  margin: 0 auto;
  padding: var(--space-s);
}

/* HEADER */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* NAVIGATION */

button {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  border: 0;
  background: none;
}

button:hover {
  cursor: pointer;
}

button:hover,
button:focus,
button:active {
  background: none;
  border-color: inherit;
  border-radius: 0;
}

.skip-link {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.skip-link:focus {
  clip: unset;
  clip-path: unset;
  height: auto;
  width: auto;
  margin: 0;
  padding: 1rem 1.5rem;
  background: white;
  z-index: 1;
}

.main-nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: center;
  gap: var(--space-3xs);
}

.main-nav li {
  position: relative;
}

.main-nav a,
.menu-trigger {
  display: block;
  margin-block-end: 1ch;
  margin-inline-end: 1ch;
  padding: 0.3rem 0.5rem;
  border: 1px solid black;
  color: black;
  text-decoration: none;
  background: white;
}

.main-nav a:hover,
.main-nav a:focus,
.menu-trigger:hover,
.menu-trigger:focus {
  background: black;
  color: white;
  border-color: black;
}

.main-nav ul ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.main-nav ul ul.hide {
  display: none;
}

.sub::after {
  display: inline-block;
  margin-inline-start: 0.5rem;
  content: "+";
}

/* INTRODUCTION + HERO */

.hero {
  text-align: center; /* Centers the text */
  position: relative;
}

/* add a little spacing for the hero children */
.hero > * {
  margin-block-start: var(--space-m);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#introduction,
#my-mantra,
#profile-pic {
  max-width: 46ch;
  margin-inline: auto;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: both; /* keeps the end state after animation */
}

/*  delay the mantra fade-in so it comes after the introduction */
#my-mantra {
  animation-delay: 1s; /* starts this animation after the introduction is done */
}

@media (prefers-reduced-motion: reduce) {
  #introduction,
  #my-mantra,
  #profile-pic {
    animation: none;
    transition: none;
  }
}

/* PROFILE PIC */

#profile-pic {
  width: 100%;
  max-width: 800px;
  margin-inline: auto;
  height: auto;
  border-radius: 50%;
  border: 1px solid var(--clr-light);
  overflow: hidden;
  box-shadow: 0 70px 63px -60px #000000;
}

/* WHAT FUELS ME */

.hand {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  margin-block-start: var(--space-xl);
  margin-block-end: var(--space-xl);
}

.card-wrapper {
  height: 150px;
  width: 100px;
  position: relative;
  margin: 10px;
  list-style: none;
}
input[type="checkbox"] {
  opacity: 0;
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  position: absolute;
}
input[type="checkbox"]:checked + label .inside {
  transform: rotateY(180deg);
}
input[type="checkbox"]:focus + label .inside {
  border: 3px solid black;
}
.card {
  width: 100%;
  height: 100%;
  perspective: 1000px;
  position: absolute;
  font: var(--step--1) monospace;
  top: 0;
  left: 0;
  cursor: pointer;
}
.card span {
  font-size: var(--step-2);
}
.card .inside {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border: 1px solid var(--clr-lighter);
}
.card .back,
.card .front {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.card .back {
  transform: rotateY(180deg);
}
.card .front {
}

/* LETS CONNECT */

#lets-connect {
  /* align the items center and text center */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#lets-connect > ul {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  margin-block-start: var(--space-s);
}

/* SKILLSET  */

#skillset article h3 {
  color: var(--clr-accent);
}

dl {
  padding: 0;
  margin: 0;
}

dt {
  color: var(--clr-darkest);
  font-weight: bold;
  padding-top: 0.5rem;
}

dd {
  margin: 0;
  padding: 0.25rem 0;
  color: var(--clr-darker);
}

dt:hover,
dd:hover {
  color: var(--clr-accent);
}

/* Example of a web-friendly font */
article {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* EXPERIENCE */

#experience h3 {
  margin-bottom: var(--space-s);
}

details {
  background-color: var(--clr-lighter);
  border-left: 4px solid var(--clr-accent);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 1em;
  padding: 10px;
  transition: background-color 0.3s ease;
}

summary {
  cursor: pointer;
  font-weight: bold;
  margin: -10px -10px 10px -10px;
  padding: 10px;
  user-select: none;
}

summary:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--clr-accent);
}

summary::after {
  content: "▼";
  float: right;
  transition: transform 0.3s ease;
}

details[open] summary::after {
  transform: rotate(180deg);
}

time {
  background-color: var(--clr-lightest);
  color: var(--clr-darker);
  font-size: var(--step--1);
  padding: 3px;
  border-radius: 4px;
  font-weight: bold;
}
